# # Database
# DATABASE_URL=postgresql://postgres:postgres@db:5432/procurement_db?schema=public

# # NextAuth
# NEXTAUTH_SECRET=change-this-to-a-random-secret-in-production
# NEXTAUTH_URL=http://localhost:3000

# # App Config
# NEXT_PUBLIC_BASE_URL=http://localhost:3000
# NODE_ENV=development

# # AI API Keys
# # GEMINI_API_KEY=AIzaSyAun1a2o3xziZndZgsAWSuhC0DG6W9fRa8
# # GROQ_API_KEY=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

# GEMINI_API_KEY=your_gemini_api_key_here
# GROQ_API_KEY=your_groq_api_key_here